---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/messages/send
    body:
      encoding: UTF-8
      string: '{"app_group_id":"<APPBOY_GROUP_ID>","messages":{"apple_push":{"alert":"hello"}},"external_user_ids":[1],"segment_id":null,"campaign_id":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8736cdfe08480bca66cffeee06268705"
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '49997'
      X-Ratelimit-Reset:
      - '1480978800'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"success"}'
  recorded_at: Mon, 05 Dec 2016 22:24:37 GMT
recorded_with: VCR 3.0.3
