---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/users/track
    body:
      encoding: UTF-8
      string: '{"app_group_id":"non-existent","attributes":[{"external_id":1,"foo":"bar"}],"events":[{"external_id":1,"name":"baz","time":"2016-12-15
        05:00:00 UTC"}],"purchases":[{"external_id":1,"product_id":1,"time":"2016-12-15
        05:00:00 UTC","currency":"CAD","price":1.0}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Invalid App Group API Identifier: non-existent"}'
  recorded_at: Mon, 05 Dec 2016 22:24:57 GMT
recorded_with: VCR 3.0.3
