---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/users/track
    body:
      encoding: UTF-8
      string: '{"app_group_id":"<APPBOY_GROUP_ID>","attributes":[{"external_id":1,"foo":"bar"}],"events":[{"external_id":1,"name":"baz","time":"2016-12-15
        05:00:00 UTC"}],"purchases":[{"external_id":1,"product_id":1,"time":"2016-12-15
        05:00:00 UTC","currency":"CAD","price":1.0}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"79557eda34d1dfcacc80cdd626202b9a"
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '49995'
      X-Ratelimit-Reset:
      - '1480978800'
    body:
      encoding: ASCII-8BIT
      string: '{"attributes_processed":1,"events_processed":1,"purchases_processed":1,"message":"success"}'
  recorded_at: Mon, 05 Dec 2016 22:24:57 GMT
recorded_with: VCR 3.0.3
