---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/messages/schedule/create
    body:
      encoding: UTF-8
      string: '{"app_group_id":"non-existent","external_user_ids":[],"segment_id":"<APPBOY_TEST_SEGMENT>","campaign_id":null,"messages":{"apple_push":{"alert":"hello"}},"schedule":{"time":"2016-12-15
        05:00:00 UTC","in_local_time":false}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Invalid App Group API Identifier: non-existent"}'
  recorded_at: Mon, 05 Dec 2016 22:23:42 GMT
recorded_with: VCR 3.0.3
