---
http_interactions:
- request:
    method: post
    uri: https://api.appboy.com/messages/schedule/create
    body:
      encoding: UTF-8
      string: '{"app_group_id":"<APPBOY_GROUP_ID>","external_user_ids":[],"segment_id":"<APPBOY_TEST_SEGMENT>","campaign_id":null,"messages":{"apple_push":{"alert":"hello"}},"schedule":{"time":"2016-12-15
        05:00:00 UTC","in_local_time":false}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a5a5e2ce463b200467e575d774914a12"
      X-Ratelimit-Limit:
      - '50000'
      X-Ratelimit-Remaining:
      - '49998'
      X-Ratelimit-Reset:
      - '1480978800'
    body:
      encoding: ASCII-8BIT
      string: '{"schedule_id":"<APPBOY_SCHEDULE_ID>","message":"success"}'
  recorded_at: Mon, 05 Dec 2016 22:01:28 GMT
recorded_with: VCR 3.0.3
